.ItemDetail{
    height:430px;
    width: 100vh;
    display: flex;
    flex-direction: row;
    padding-top: 120px;

}

.ItemDetail img{
    height: 350px;
    width: 300px;
}
.Detail{
    height: 500px;
    width: 700px;
}

.Detail button{
    text-decoration: none;
    background-color: #292A2E;
    color: white;
    border: 0.25rem solid #5F6F52;
    border-radius: .25rem;
    height: 40px;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Detail button:hover{
    color:pink;

}
