.ItemDetail{
    height:500px;
    width: 1000px;
    display: flex;
    flex-direction: row;
    padding-top: 90px;
    justify-content: space-evenly;

}

.ItemDetail img{
    height: 350px;
    width: 300px;
}
.detail{
    height: 500px;
    width: 500px;
}

.detail button{
    text-decoration: none;
    background-color: #292A2E;
    color: white;
    border: 0.25rem solid #5F6F52;
    border-radius: .25rem;
    height: 40px;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    
}

.detail button:hover{
    color:pink;

}

