.ItemDetail{
    height: 100%;
    width: 900px;
    display: flex;
    flex-direction: row;
    padding-top: 90px;
    justify-content: space-evenly;


}

.ItemDetail img{
    height: 350px;
    width: 300px;
}
.detail{
    height: 500px;
    width: 500px;
}

.agregar{
    text-decoration: none;
    background-color: #292A2E;
    color: white;
    border: 0.25rem solid #5F6F52;
    border-radius: .25rem;
    height: 40px;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    
}
.mas-menos{
    text-decoration: none;
    background-color: #292A2E;
    color: white;
    border: 0.25rem solid #5F6F52;
    border-radius: .25rem;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-size: 18px;
    
}

.detail button:hover{
    color:pink;

}
.itemCount{
display: flex;
flex-direction: row;
gap: 15px;
}
