

.cartWidget{
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    align-items: baseline;
    
}


.carrito{
    width: 40px;
    height: 40px;
    padding-right: 10px;
    transition: transform 0.3s ease;
    color: white;
}
.carrito:hover{
    transform: scale(1.1);
    }

.numero{
    margin: 0;
    color: white;
    text-decoration: none;
    font-style: none;
    

}