.fondo{
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: url(../img/fondo-tienda.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    
}
.fondo h2{
    padding-top: 50px;
    color:#4d5a42;
}
